/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

div.CardContainer {
  /* Appearance */
  padding-top: 10px;
  width: 100%;

  /* Layout */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Card rulesets */

div.Card {
  border: 0px;
  border-radius: 5px;
  background: White;
  box-shadow: 4px 4px 8px 4px rgba(70,70,70,0.3);
  transition: all 0.25s ease;
  position: relative;
}

/* CardWithHover rulesets */

div.Card.CardHover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 20px 4px rgba(70,70,70,0.5);
}

/* Render Card hover using React i.e. toggle CSS class CardHover on OnMouseEnter and onMouseLeave events
i.e. don't use because 
div.Card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 20px 4px rgba(70,70,70,0.5);
}
*/

/* CardWithFavourite rulesets */

div.Card > div.favourite {
  font-size: 90%;
  position: absolute;
  top: 5px;
  right: 5px;
}

div.Card > div.favourite div.IconRedHeart {
  width: 36px;
  height: 36px;
}
