/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

div.ToolTipDecorator div.AnnotationMessage {
  /* Appearance */
  min-width: 100px;
  padding: 5px;
  color: White;
  font-size: 90%;
  text-align: center;
  border-radius: 5px;
  background: #29e7cd;
}

div.AnnotationTarget { position: relative; }
div.AnnotationMessage { position: absolute; }
